.rank0 {
    border: 1px solid #222;
    background-color: #FAFAFA !important;
}

.rank1 {
    border: 1px solid #222;
    background-color: #CCC !important;
}

.rank2 {
    border: 1px solid #222;
    background-color: #CCC !important;
}

.rank3 {
    border: 1px solid #222;
    background-color: #CCC !important;
}

.rank4 {
    border: 1px solid #222;
    background-color: #CCC !important;
}

.bin {
    border: 1px solid #222;
    background-color: #CCC !important;
}
